@charset "UTF-8";

/* Global tags config */

html:root {
  font-size: 10px;
}

input,
button {
  border: none;
}

input:focus,
button:focus {
  outline: 0;
}

body {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body a {
  text-decoration: none;
}

/* variables */

/* global classes */

@media (min-width: 1199px) {
  .container {
    max-width: 970px !important;
  }
}

.form-uppercase {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.button {
  font-family: 'Roboto', sans-serif;
  background-color: #ff9d00;
  color: #ffffff;
  border-radius: 5px;
}

.button-big {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 500;
}

.button-o {
  color: rgba(55, 55, 55, 0.5);
  border: 1px solid rgba(55, 55, 55, 0.5);
  background-color: transparent;
}

.button-o:hover {
  background-color: transparent !important;
}

@media (min-width: 992px) {
  .button:hover {
    cursor: pointer;
    background-color: #ffab24;
  }

  .slider-arrow-right:hover {
    background-color: #ff9d00;
    background-image: url("../img/arrow-right-active.png");
  }

  .slider-arrow-left:hover {
    background-color: #ff9d00;
    background-image: url("../img/arrow-left-active.png");
  }

  .clients-logos_box__img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
  }

  .header-phone_number-1,
  .header-phone_number-2 {
    position: relative;
  }

  .header-phone_number-1:active:hover,
  .header-phone_number-1:link:hover,
  .header-phone_number-1:hover:hover,
  .header-phone_number-2:active:hover,
  .header-phone_number-2:link:hover,
  .header-phone_number-2:hover:hover {
    color: rgba(55, 55, 55, 0.7);
  }

  .contacts-phone:active:hover,
  .contacts-phone:link:hover,
  .contacts-phone:hover:hover {
    color: rgba(55, 55, 55, 0.7);
  }

  .contacts-mail:active:hover,
  .contacts-mail:link:hover,
  .contacts-mail:hover:hover {
    color: rgba(55, 55, 55, 0.7);
  }
}

.repeat-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 700;
  color: #313131;
}

.repeat-title::after {
  content: '';
  position: absolute;
  bottom: -17px;
  display: block;
  width: 100%;
  height: 6px;
  background: url("../img/line.png") center no-repeat;
}

@media (max-width: 768px) {
  .repeat-title::after {
    display: none;
  }
}

.slider-arrow {
  position: absolute;
  height: 100%;
  width: 22px;
  border: 1px solid #ff9d00;
  z-index: 100;
  cursor: pointer;
}

.slider-arrow-right {
  top: 0;
  left: 0;
  background: #fff url("../img/arrow-left.png") center no-repeat;
}

.slider-arrow-left {
  top: 0;
  right: 0;
  background: #fff url("../img/arrow-right.png") center no-repeat;
}

@media (max-width: 992px) {
  .slider-arrow-adaptive-right {
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 78px;
    background: #ff9d00 url("../img/arrow-right-active.png") center no-repeat;
  }

  .slider-arrow-adaptive-left {
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 78px;
    background: #ff9d00 url("../img/arrow-left-active.png") center no-repeat;
  }
}

.slick-current {
  -webkit-filter: brightness(100%) !important;
  filter: brightness(100%) !important;
}

.production-slider_bot .slick-slide {
  width: 116px;
}

.production-slider_bot .slick-list {
  padding: 0;
}

.production-slider_bot .slick-track {
  padding-left: 186px;
}

iframe {
  display: none;
}

.ymaps-2-1-69-copyright__text {
  display: none;
}

.ymaps-2-1-69-copyright__link {
  display: none;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-height: 344px;
  background-color: #2b2b2b;
  background-image: url("../img/popup/popup-bg.jpg");
  background-size: cover;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-title {
  padding: 24px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ff9d00;
}

.popup-close {
  position: absolute;
  top: -30px;
  right: -16px;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.popup-form {
  padding: 41px 90px 49px;
  margin: 0 auto;
  text-align: center;
}

.popup-form_disc {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}

.popup-form_disc__small {
  font-size: 24px;
}

.popup-form_num {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.popup-form-buttons {
  margin-bottom: 9px;
}

.popup-form-buttons_phone {
  padding: 21px 18px;
  margin-right: 16px;
  width: 100%;
  max-width: 329px;
  font-size: 14px;
  font-weight: 300;
  color: #373737;
  border-radius: 5px;
}

.popup-form-buttons button {
  font-size: 15px;
  font-weight: 500;
}

.popup-form_small {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.succes {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.succes .suc-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 600px;
  padding: 20px;
  text-align: center;
  background-color: #ff9d00;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ff9d00;
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.succes .suc-popup_title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
}

.succes .suc-popup_text {
  font-size: 24px;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.succes .suc-popup_button {
  padding: 13px 50px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  background-color: #fff;
  color: #373737;
}

@media (max-width: 768px) {
  .suc-popup {
    max-width: 450px;
  }

  .suc-popup_title {
    font-size: 24px !important;
  }

  .suc-popup_text {
    font-size: 16px	!important;
  }
}

@media (max-width: 576px) {
  .suc-popup {
    width: 90% !important;
  }
}

/* header start */

.header {
  padding: 15px 0;
}

.header-logo {
  background-image: url("../img/header/heder-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 191px;
  min-height: 61px;
}

.header-phone {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-phone_number {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 27px;
  font-size: 22px;
  font-weight: 500;
  color: #373737;
}

.header-phone_number-1,
.header-phone_number-2 {
  position: relative;
}

.header-phone_number-1:active,
.header-phone_number-1:link,
.header-phone_number-1:hover,
.header-phone_number-2:active,
.header-phone_number-2:link,
.header-phone_number-2:hover {
  color: #373737;
}

.header-phone_number-1 {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #cfcfd0;
}

.header-phone_button {
  padding: 12px 18px;
  vertical-align: middle;
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
}

.header-phone_button__img {
  margin-right: 7px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* header end */

/* main-block start */

.main {
  position: relative;
  padding: 6.5rem 0 6.7rem;
  color: #ffffff;
  background-image: url("../img/main/main-bg.jpg");
  background-color: #373737;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-logo {
  position: relative;
}

.main-logo::before {
  content: '';
  position: absolute;
  border: 1px solid #ffffff;
  left: 50%;
  margin-left: -195px;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  z-index: -1;
}

.main-logo::after {
  content: url("../img/main/rst.png");
  position: absolute;
  bottom: -10px;
  left: 0;
}

.main-logo_img {
  margin-left: -95px;
}

.main-title {
  margin: 0 auto 15px;
  font-size: 41px;
  font-weight: 700;
}

.main-subtitle {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 24px;
}

.main-form {
  padding: 30px 26px 32px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-form_disc {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-form_small {
  font-size: 14px;
  font-weight: 300;
  margin-left: 19px;
}

.form {
  line-height: 30px;
  margin-bottom: 12px;
}

.form-tel {
  padding: 21px;
  margin-right: 6px;
  width: 64%;
  max-width: 311px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
}

.form :nth-of-type(2) {
  width: 100%;
  max-width: 161px;
}

/* main-block end */

/* features start */

.features {
  padding-top: 4.9rem;
  padding-bottom: 5.5rem;
  background-color: #f4f4f4;
}

.features-numbers_block {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-bottom: 3.7rem;
  text-align: center;
}

.features-numbers_block__title {
  margin-bottom: 1.2rem;
  margin-top: 0;
  font-size: 3.6rem;
  font-weight: 900;
  color: #ff9d00;
}

.features-numbers_block__title sup {
  font-size: 2rem;
}

.features-numbers_block__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #373737;
}

.features-blocks_box {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  height: 132px;
  padding: 2.8rem 1.2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: #373737;
  background-color: #ffffff;
}

.features-blocks_box__text__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.features-blocks_box__text__descr {
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 300;
}

@media (max-width: 990px) {
  .features-numbers_block__title {
    font-size: 2.8rem;
  }

  .features-numbers_block__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .features {
    padding-top: 2.4rem;
    padding-bottom: 4rem;
  }

  .features-numbers_block {
    width: 100%;
    margin-bottom: 2.4rem;
  }

  .features-numbers_block__title {
    font-size: 3rem;
  }

  .features-numbers_block__text {
    font-size: 1.4rem;
  }

  .features-blocks_box {
    margin-bottom: 0.8rem;
  }
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-title {
  margin-bottom: 3.9rem;
  margin-top: 0;
}

.products-blocks {
  text-align: center;
}

.products-blocks_row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products-blocks_row__box__logo {
  min-height: 260px;
  margin-bottom: 1.9rem;
  width: 438px;
}

.products-blocks_row__box__logo__img {
  width: 87%;
}

.products-blocks_row__box__text {
  margin-bottom: 2.8rem;
  font-size: 2rem;
  font-weight: 500;
  color: #313131;
}

.products-blocks_row__box__buttons {
  margin-bottom: 4rem;
}

.products-blocks_row__box__buttons :nth-of-type(1) {
  width: 100%;
  max-width: 128px;
  min-height: 48px;
  margin-right: 12px;
}

.products-blocks_row__box__buttons :nth-of-type(2) {
  width: 100%;
  max-width: 173px;
  min-height: 48px;
}

@media (max-width: 992px) {
  .products-blocks_row__box__logo {
    min-height: 26.4rem;
    width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .products-text-fix {
    margin-bottom: 5.2rem !important;
  }
}

@media (min-width: 768px) {
  .m-o {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .products {
    padding-top: 3.2rem;
    padding-bottom: 0.3rem;
  }

  .products-title {
    font-size: 2.2rem;
  }

  .products-blocks_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .products-blocks_row__box__logo {
    width: 320px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .products-blocks_row__box__logo img {
    width: 290px;
  }

  .products-blocks_row__box__text {
    font-size: 1.8rem;
    max-width: 290px;
  }

  .products-blocks_row__box__buttons :nth-of-type(1) {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
  }

  .products-blocks_row__box__buttons :nth-of-type(2) {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .products-title {
    margin: 0 auto 1rem;
  }

  .products-blocks_row__box__logo {
    margin-bottom: 1.2rem;
  }

  .products-blocks_row__box__text {
    margin-bottom: 1.7rem;
  }

  .products-blocks_row__box__buttons {
    margin-bottom: 2.2rem;
  }

  .products-blocks_row__box__buttons :nth-of-type(1) {
    max-width: 119px;
    min-height: 45px;
    margin-right: 0.7rem;
  }

  .products-blocks_row__box__buttons :nth-of-type(2) {
    max-width: 161px;
    min-height: 45px;
  }
}

@media (min-width: 768px) {
  .img-fix {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}

.offer {
  position: relative;
  padding: 6.4rem 0 6.9rem 0;
  text-align: center;
  background: #151515 url("../img/offer/bg-offer.jpg") center;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
}

.offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.offer-title {
  margin-top: 0;
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.offer-title_sub {
  display: block;
  font-size: 2.6rem;
}

.offer-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer-form label {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 300;
}

.offer-form input {
  max-width: 90%;
  padding: 2.1rem 12rem;
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 5px;
}

.offer-form button {
  padding: 2.1rem 3rem;
  margin-bottom: 0.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
}

.offer-form small {
  font-size: 1.4rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .offer {
    padding: 5rem 0 5.3rem 0;
  }

  .offer-title {
    margin: 0 0 3rem 0;
    font-size: 2rem;
    font-weight: 700;
  }

  .offer-title_sub {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .offer-form label {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .offer-form input {
    padding: 1.7rem 8.7rem;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .offer-form button {
    padding: 1.9rem 2.9rem;
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .offer-form small {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

@media (max-width: 370px) {
  .offer-form input {
    padding: 17px 50px;
  }
}

.production {
  padding-top: 8.7rem;
  padding-bottom: 4.5rem;
}

.production-slider_top {
  margin-bottom: 1.3rem;
}

.production-slider_top img {
  height: 100%;
  height: 377px;
  width: 100%;
  outline: 0;
}

.production-slider_bot {
  height: 78px;
}

.production-slider_bot img {
  position: relative;
  height: 78px;
  width: 116px !important;
  margin: 0 6px;
  outline: 0;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.production-text_title {
  padding: 1.6rem 2.5rem;
  margin: 1.9rem auto 2.8rem;
  font-size: 2.8rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #ff9d00;
}

.production-text_descr {
  margin-left: 2.5rem;
  font-size: 1.55rem;
  font-weight: 300;
  color: #373737;
}

.production-text_descr p {
  text-align: justify;
  line-height: 22px;
}

@media (max-width: 992px) {
  .production-slider_bot .slick-track {
    margin-left: 0;
  }

  .production-text_title {
    text-align: center;
    margin-bottom: 10px;
  }

  .production-text_descr {
    text-align: justify;
    text-align-last: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .production-text_descr p {
    font-size: 14px;
    line-height: 16px;
    margin: 10px auto;
  }

  .production {
    padding-top: 68px;
  }

  .production-slider_top {
    margin: 0 auto 13px;
    height: 280px;
    max-width: 650px;
  }

  .production-slider_top img {
    width: 100%;
    height: 280px;
  }

  .production-slider_bot {
    max-width: 620px;
    margin: 0 auto;
  }

  .production-slider_bot img {
    width: 86px !important;
  }
}

@media (max-width: 768px) {
  .production {
    padding: 0.9rem 0;
  }

  .production .container {
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .production-slider_top {
    margin: 0 auto;
    padding: 0 15px;
    height: 380px;
    max-width: 510px;
  }

  .production-slider_top img {
    height: 100%;
  }

  .production-slider_bot {
    display: none !important;
  }

  .production-text {
    margin-bottom: 2.2rem;
    text-align: center;
  }

  .production-text_title {
    margin-bottom: 1.7rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
  }

  .production-text_descr {
    max-width: 480px;
  }

  .production-text_descr p {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .production-slider_top {
    max-width: 320px;
  }

  .production-slider_top img {
    height: 380px;
  }

  .production-text_descr {
    width: 290px;
    margin: 0 auto;
  }

  .production-text_descr p {
    font-size: 1.3rem;
  }
}

.clients {
  padding-top: 5rem;
  padding-bottom: 6.1rem;
}

.clients h2 {
  margin-top: 0;
  margin-bottom: 5.6rem;
}

.clients-logos {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients-logos_box {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 21.2rem;
  height: 13rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 3.3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.clients-logos_box__img {
  display: inline-blo;
  line-height: 13rem;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.wrap {
  text-align: center;
}

@media (max-width: 992px) {
  .clients-logos_box__img {
    -webkit-filter: none;
    filter: none;
  }
}

@media (max-width: 768px) {
  .clients {
    padding-top: 2.3rem;
    padding-bottom: 2.8rem;
  }

  .clients h2 {
    margin-bottom: 1.7rem;
  }

  .clients-logos {
    max-width: 292px;
    margin: 0 auto;
  }

  .clients-logos_box {
    width: 14.3rem;
    height: 8.7rem;
    margin-bottom: 0.8rem;
  }

  .clients-logos_box__img {
    width: 85%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .clients-logos_box__img {
    width: 85%;
    height: 70%;
  }
}

.feedback {
  background-color: #f4f4f4;
  padding-top: 5rem;
  padding-bottom: 6.6rem;
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 4.8rem;
}

.feedback-slider {
  width: 90%;
  margin: 0 auto;
}

.feedback-slider_box {
  height: 377px;
  width: 274px;
  overflow: hidden;
  background-color: #fff;
  margin: 0 14px;
}

.feedback-slider_box__img {
  margin: 10px auto;
}

.fb-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 47px;
  cursor: pointer;
  z-index: 100;
}

.fb-arrow-right {
  background: url("../img/fb-right.png") center no-repeat;
  right: -20px;
}

.fb-arrow-left {
  left: -20px;
  background: url("../img/fb-left.png") center no-repeat;
}

@media (max-width: 768px) {
  .feedback {
    padding-top: 3.6rem;
    padding-bottom: 4rem;
  }

  .feedback-title {
    font-size: 2.2rem;
    max-width: 197px;
    margin: 0 auto 15px;
  }

  .feedback-slider {
    width: 55%;
  }

  .fb-arrow {
    width: 22px;
    height: 78px;
  }

  .fb-arrow-right {
    background: #ff9d00 url("../img/fb-arrow-right-active.png") center no-repeat;
    right: 0;
  }

  .fb-arrow-left {
    left: 0;
    background: #ff9d00 url("../img/fb-arrow-left-active.png") center no-repeat;
  }
}

@media (max-width: 576px) {
  .feedback-slider {
    width: 274px;
  }
}

.contacts {
  position: relative;
}

.contacts-title {
  margin: 0;
  display: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #373737;
}

.contacts-card {
  position: absolute;
  top: 15%;
  left: 25%;
  display: inline-block;
  padding: 3rem 4rem 3.3rem 6.2rem;
  background-color: #fff;
  z-index: 2;
}

.contacts-card button {
  margin-bottom: 2.5rem;
  padding: 1.7rem 2.4rem;
}

.contacts-card_block {
  position: relative;
}

.contacts-card_block__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.contacts-card_block__text {
  font-size: 1.6rem;
  font-weight: 300;
}

.contacts-card_block-1 {
  margin-bottom: 0.8rem;
}

.contacts-card_block-1::before {
  position: absolute;
  top: 30%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: url("../img/contacts/mark.png");
}

.contacts-card_block-2 {
  margin-bottom: 3.1rem;
}

.contacts-card_block-3 {
  margin-bottom: 1.4rem;
}

.contacts-card_block-3::before {
  position: absolute;
  top: 30%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: url("../img/contacts/phone.png");
}

.contacts-card_block-4::before {
  position: absolute;
  top: 30%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: url("../img/contacts/mail.png");
}

.map {
  width: 100%;
  height: 550px;
}

.contacts-phone {
  display: block;
}

.contacts-phone:active,
.contacts-phone:link,
.contacts-phone:hover {
  color: #373737;
}

.contacts-mail:active,
.contacts-mail:link,
.contacts-mail:hover {
  color: #373737;
}

@media (max-width: 1400px) {
  .contacts-card {
    top: 15%;
    left: 20%;
  }
}

@media (max-width: 1140px) {
  .contacts-card {
    top: 15%;
    left: 15%;
  }
}

@media (max-width: 992px) {
  .contacts-card {
    top: 15%;
    left: 10%;
  }
}

@media (max-width: 840px) {
  .contacts-card {
    top: 15%;
    left: 5%;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 3.6rem;
    padding-bottom: 1.4rem;
  }

  .contacts-title {
    display: block;
    margin-bottom: 1.9rem;
  }

  .contacts-card {
    position: static;
    display: block;
    text-align: center;
    padding: 0;
    padding-bottom: 2.8rem;
  }

  .contacts-card_block__title {
    margin-bottom: 1rem;
  }

  .contacts-card_block__text {
    font-size: 1.4rem;
  }

  .contacts-card_block-1 {
    margin-bottom: 1.4rem;
  }

  .contacts-card_block-1::before {
    content: none;
  }

  .contacts-card_block-2 {
    margin-bottom: 3.2rem;
  }

  .contacts-card_block-3 {
    margin-bottom: 1.5rem;
  }

  .contacts-card_block-3::before {
    content: none;
  }

  .contacts-card_block button {
    margin-bottom: 2.1rem;
  }

  .contacts-card_block-4::before {
    content: none;
  }

  .map {
    padding: 0 1.5rem;
    height: 42rem;
  }
}

.footer {
  width: 100%;
  background-color: #1b1b1b;
}

.footer-descr {
  padding-top: 3.6rem;
  padding-bottom: 3.9rem;
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.5;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-descr {
    font-size: 1.1rem;
  }
}

/* Ширина от 1141 до 1200 */

@media (min-width: 1141px) and (max-width: 1200px) {
  .main-logo {
    margin-bottom: 40px;
  }

  .main-logo::after {
    left: 30%;
  }

  .main-logo_img {
    display: block;
    margin: 0 auto;
  }

  .main-title {
    text-align: center;
  }

  .main-subtitle {
    text-align: center;
  }

  .main-form {
    max-width: 695px;
    margin: 0 auto;
    text-align: center;
  }
}

/* Ширина до 1140 */

@media (max-width: 1140px) {
  .main-logo {
    margin-bottom: 40px;
  }

  .main-logo::after {
    left: 30%;
  }

  .main-logo_img {
    display: block;
    margin: 0 auto;
  }

  .main-title {
    text-align: center;
  }

  .main-subtitle {
    text-align: center;
  }

  .main-form {
    max-width: 695px;
    margin: 0 auto;
    text-align: center;
  }
}

/* Ширина до 992 */

@media (max-width: 992px) {
  .header-phone_number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-phone_number-1 {
    border: none;
    margin: 0;
    padding: 0;
  }

  .main-logo {
    margin-bottom: 40px;
  }

  .main-logo::after {
    left: 25%;
  }

  .main-logo_img {
    display: block;
    margin: 0 auto;
  }

  .main-title {
    text-align: center;
  }

  .main-subtitle {
    text-align: center;
  }

  .main-form {
    max-width: 592px;
  }

  .popup-title {
    padding: 12px 0;
    font-size: 16px;
  }

  .popup-form_disc {
    font-size: 20px;
  }

  .popup-form_disc__small {
    font-size: 16px;
  }

  .popup-form-buttons_phone {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
  }
}

/* Ширина до 768 (начинается адаптив под 320) */

@media (max-width: 768px) {
  .hiden-mobile {
    display: none;
  }

  .show-dot {
    content: ' ';
  }

  .weight-mobile {
    font-weight: 900;
  }

  .header-logo {
    background-image: url("../img/header/header-logo_mobile.png");
    background-color: #ff9d00;
    background-position: center;
    border-radius: 4px;
    max-width: 35px;
    min-height: 36px;
    margin-left: 15px;
  }

  .header-phone_number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 12px;
    font-size: 14px;
    border: none;
  }

  .header-phone_number-1 {
    border: none;
  }

  .header-phone_number a {
    padding: 0;
    margin: 0;
  }

  .header-phone_button {
    padding: 8px 0px 8px 8px;
  }

  .main {
    text-align: center;
  }

  .main-form {
    max-width: 500px;
    padding: 10px;
  }

  .form-tel {
    margin-bottom: 15px;
  }

  .popup-form {
    padding: 20px 45px;
  }
}

/* Ширина до 576 */

@media (max-width: 576px) {
  .hiden-mobile {
    display: none;
  }

  .weight-mobile {
    font-weight: 900;
  }

  .header-logo {
    background-image: url("../img/header/header-logo_mobile.png");
    background-color: #ff9d00;
    background-position: center;
    border-radius: 4px;
    max-width: 35px;
    min-height: 36px;
    margin-left: 25px;
  }

  .header-phone_button {
    padding: 8px 7px 8px 8px;
    margin-right: 15px;
  }

  .header-phone_button__img {
    margin: 0;
  }

  .form-uppercase {
    margin-top: 14px;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 58px;
    text-align: center;
    background-image: url("../img/main/bg-mobile.jpg");
  }

  .main::before {
    content: none;
  }

  .main-title {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    color: #ff9d00;
  }

  .main-subtitle {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
  }

  .main-form {
    max-width: 480px;
    background: none;
    padding-right: 0;
    padding-left: 0;
    padding: 0;
  }

  .main-form_disc {
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 300;
  }

  .form-tel {
    width: 100%;
    margin-bottom: 13px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
  }

  .form button {
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }

  .main-form_small {
    margin-left: 0;
    font-size: 13px;
  }

  .popup {
    width: 90%;
  }

  .popup-form {
    padding: 10px;
  }
}